.my-items-container {
  /* max-width: 900px; */
  font-family: "Inter", sans-serif;
}


.my-items-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  color: #1c1c1c;
}


.item-card {
  background: #f4f8ff;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.2s;
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}


.item-thumb {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  background: #ddd;
}


.item-info {
  flex: 1;
}

.item-info h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #1c1c1c;
}

.item-info p {
  margin: 4px 0;
  color: #555;
  font-size: 14px;
}


.item-status {
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

.status-available {
  color: #0d6efd;
}

.status-unavailable {
  color: #d9534f;
}


.item-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}


.item-btn {
  padding: 10px 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.item-btn:hover {
  background-color: #0b57d0;
}

.delete-btn {
  background-color: #e74c3c;
}

.delete-btn:hover {
  background-color: #c0392b;
}
